/* Importación de fuente */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #050505;
}

.brand-title {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.brand-title:hover {
color: black !important;
}

.login-title{
    color:withe;
}

/* Contenedor principal para empujar el footer */
main {
    flex: 1;
    width: 100%;
}

.full-viewport {
    width: 100%;
    padding: 2rem;
}

.navbar {
    background-color: #ffff05 !important;
    border-bottom: 1px solid #333;
}

footer {
    background-color: #ffff05 !important;
}


